/*The min-width property makes it so that if the browser
is resized to a viewport smaller than 855 px, the remaining
part of the page will be hidden from view.*/
header, main, footer {
  min-width: 855px;
}

body {
  background: #f9e933;
}

header {
  background: white;
}

main {
  background: white;
}
